<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments :: headerFragment"></head>

<body>

<nav th:replace="fragments :: adminNavbar(${highlightDirectory}, ${highlightCourses}, ${highlightAddCourse}, ${highlightAddStudent})"></nav>

<div class="container">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-default card card-3">
            <div class="panel-body">

                <div class="table-responsive">
                    <table class="table table-hover">
                        <caption><h3><b>Course Directory</b></h3></caption>
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Instructor</th>
                            <th>Students</th>
                            <th colspan="3">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="item:${courses}">
                            <tr>
                                <td><p th:text="${item.title}"></p></td>
                                <td><p th:text="${item.instructor}"></p></td>
                                <td><p th:text="${item.numRegistered}"></p></td>
                                <td>
                                    <!-- update course -->
                                    <a th:href="@{|/update/${item.id}?type=course|}" class="action-link">Edit</a>
                                </td>
                                <td>
                                    <!-- view/edit registered students for course-->
                                    <a th:href="@{|/courseregistration/${item.id}|}" class="action-link">Registration</a>
                                </td>
                                <td>
                                    <!-- TODO implement delete course -->
                                    <a href="#" class="action-link">Delete</a>
                                    <!--<a th:href="@{|/delete/${item.id}?type=course|}" class="action-link">Delete</a>-->
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>

            </div><!-- panel body -->
        </div><!-- panel panel-default -->
    </div><!-- col-lg-8 col-lg-offset-2 -->
</div><!-- container -->

<!-- Footer -->
<footer th:replace="fragments :: footer"></footer>

<!-- javascript -->
<!-- th:block goes away after processing, but what's inside stays, so it won't affect the page layout -->
<th:block th:replace="fragments :: javaScriptTemplate"></th:block>

</body>

</html>