
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments :: headerFragment"></head>

<body>

<!-- a very basic navbar for student summary page, so simple it doesn't need to collapse -->
<!--<nav class="navbar navbar-inverse navbar-fixed-top card-3">-->
    <!--<div class="container">-->

        <!--<div class="navbar-header">-->
            <!--&lt;!&ndash; TODO make a new github repo and change this link &ndash;&gt;-->
            <!--<a class="navbar-brand" href="https://github.com/nmerris/RoboResumeFive">STUDBOT 5K</a>-->
        <!--</div>-->

        <!--<ul class="nav navbar-nav navbar-right">-->
            <!--<li>-->
                <!--<a th:href="@{~/studentdirectory}"><span class="glyphicon glyphicon-arrow-left"></span>Home</a>-->
            <!--</li>-->
        <!--</ul>-->

    <!--</div>-->
<!--</nav>-->

<nav th:replace="fragments :: adminNavbar(${highlightDirectory}, ${highlightCourses}, ${highlightAddCourse}, ${highlightAddStudent})"></nav>

<div class="container">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-default card card-3">
            <div class="panel-body">

                <h3 th:text="${summaryBarTitle}"></h3>

                <!-- shows counts of different parts of students resume -->
                <div class="table-responsive">
                    <table class="table table-hover">
                        <caption><h3><b>Resume Summary</b></h3></caption>

                        <thead>
                            <tr>
                                <th>Section</th>
                                <th>Entries</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td><p>Educational Achievements</p></td>
                                <td><p th:text="${numEds}"></p></td>
                            </tr>
                            <tr>
                                <td><p>Work Experiences</p></td>
                                <td><p th:text="${numWorkExps}"></p></td>
                            </tr>
                            <tr>
                                <td><p>Skills</p></td>
                                <td><p th:text="${numSkills}"></p></td>
                            </tr>
                        </tbody>

                        <tfoot>
                            <tr>
                                <td><p><b>Total Entries</b></p></td>
                                <td>
                                    <div th:with="sum=${numEds + numWorkExps + numSkills}">
                                        <p th:text="${sum}"></p>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>

                    </table>
                </div>
                <!-- go to resume edit details page to edti resume details -->
                <!-- the currPerson session variable has already been set, so no need for any path variables -->
                <a class="btn btn-primary bold-input" th:href="@{~/editdetails}">Edit Resume</a>

                <!-- table of courses student is registered in -->
                <div class="table-responsive">
                    <table class="table table-hover">
                        <caption><h3><b>Registered Courses</b></h3></caption>

                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Instructor</th>
                                <th>Credits</th>
                            </tr>
                        </thead>

                        <tbody>
                            <th:block th:each="item:${courses}">
                                <tr>
                                    <td><p th:text="${item.title}"></p></td>
                                    <td><p th:text="${item.instructor}"></p></td>
                                    <td><p th:text="${item.credits}"></p></td>
                                </tr>
                            </th:block>
                        </tbody>

                        <tfoot>
                        <tr>
                            <td colspan="2"><p><b>Total Credits</b></p></td>
                            <td>
                                <p th:text="${sumCredits}"></p>
                            </td>
                        </tr>
                        </tfoot>

                    </table>
                </div>
                <!-- the currPerson session variable has already been set, so no need for any path variables -->
                <a class="btn btn-primary bold-input" th:href="@{~/studentregistration}">Edit Registration</a>

            </div><!-- panel-body -->
        </div>
    </div>
</div><!-- container -->

<!-- javascript -->
<!-- th:block goes away after processing, but what's inside stays, so it won't affect the page layout -->
<th:block th:replace="fragments :: javaScriptTemplate"></th:block>

</body>

</html>